<div class="container">
  <div class="text-center my-5">
    <h3>{{LeagueName}} Scorings</h3>
  </div>
  <form>
    <p class="text-center">Season starts:<br>{{SeasonStart}}</p>
    <div [ngSwitch]="CurrentRole*10">
      <div *ngSwitchCase=10>Head Referee</div>
      <div *ngSwitchCase=20>Referee</div>
      <div *ngSwitchCase=30>Scorekeeper</div>
      <div *ngSwitchCase=40>Admin</div>
      <div *ngSwitchDefault>End User</div>
    </div>
    <br />

    <div class="form-group">
      <label for="exampleFormControlSelect1">Game</label>
      <select class="form-control" (change)="onSchedChange($any($event).target.value)" id="exampleFormControlSelect1">
        <option *ngFor="let currentRow of MySchedule" value={{currentRow.id}}>
          {{currentRow.HomeTeam + " vs "+ currentRow.AwayTeam}}
        </option>
      </select>
    </div>

    <table class="table table-bordered w-50 mx-auto">
        <tr>
            <td class="align-middle font-weight-bold">{{HomeTeam}}</td>
            <td><input type="number" [(ngModel)]="HomeScore" name="HomeScoreVal" class="form-control"></td>
        </tr>
        <tr>
            <td class="align-middle font-weight-bold">{{AwayTeam}}</td>
            <td><input type="number" [(ngModel)]="AwayScore" name="AwayScoreVal" class="form-control"></td>
        </tr>
    </table>

    <div class="text-center mt-4">
      <button type="button" (click)="onRecordScores()" class="btn btn-primary" style="font-size: large;margin-left: 50px;">Record Scores</button>
    </div>
  </form>
</div>
